<a href="https://colab.research.google.com/github/IanTirok/DataScience-Prep-Moringa-School/blob/main/Copy_of_Python_Programming_Data_Types%20-%20Wednesday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming: Data Types

## 1.1 Introduction

There are many different data types in Python. These data types can also be referred to as types of objects. We can start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).

The following are examples of values with different data types;

In [ ]:
# Example 1
# Integer Data Type
#
55

55

In [ ]:
# Example 2
# Float Data Type
#
3.142

3.142

In [ ]:
# Example 3
# String Data Type
#
"Moringa Data Science"

'Moringa Data Science'

### <font color="green">1.1 Challenges </font>

In [ ]:
# Challenge 1
# Write a value with an Integer data type 
# 
integer = int (45)

In [ ]:
# Challenge 2 
# Write any value with a Float Data Type 
# 
float_type = float  (3.142)

In [ ]:
# Challenge 3
# Write any value with a String Data Type 
# 
String_type = str ("Welcome to Moringa")

## 1.2 Finding Out Types

We can get Python to tell us the type of an expression by using the built-in type() function. We'll notice that Python refers to integers as int, floats as float, and character strings as str.

In [ ]:
# Example 1
# Finding out the type of 55
#
type(55)

int

In [ ]:
# Example 2
# Finding out the type of 3.142
#
type(3.142)

float

In [ ]:
# Example 3
# Finding out the type of "Moringa Data Science"
#
type("Moringa Data Science")

str

### <font color="green">1.2 Challenges</font>

In [ ]:
# Challenge 4 
# Now lets find out the type of our value in Challenge #1
#
type (45)

int

In [ ]:
# Challenge 5
# What about the type of our value in Challenge #2
# 
type (3.142)

float

In [ ]:
# Challenge 6
# What about the type of our value in Challenge #3
#
type (String_type)

str

In [ ]:
# Challenge 7 
# What is the data type of the result of: 16 / 4?
#

What_type = 16/4
type (What_type)

float

In [ ]:
# Challenge 8 
# What is the type of the result of: 6 // 2? (Note the double slash //.)
#
What_type8 = 6 // 2

type (What_type8)

int

In [ ]:
# Challenge 9
# What do you think is the output of type(a)? Run this cell and check
# 
a = "Learning Data Science is Easy" 
a = 3 

type (a)

int

In [ ]:
# Challenge 10
# What do you think is the output of this cell? 
# Think about it then run it.
#
type(3.2) == float

True

## 1.3  Integers

 Integers can be negative or positive numbers:

In [ ]:
# Example 1
# Again, we can verify whether this is the case by using the type() function
#
type(-300)

int

### <font color = "green">1.3 Challenges</font>

In [ ]:
# Challenge 1
# What happens when we verify a positive number i.e 43
#
type (43)

int

In [ ]:
# Challenge 2
# Let's verify zero below 
# 
type (0)

int

## 1.4 Floats

Floats represent real numbers; they also include "numbers with decimals". We can now test some examples with the type() function

In [ ]:
# Example 1
# Let's verify 1.0
# 
type(1.0)

float

###<font color="green"> 1.4 Challenges</font>

In [ ]:
# Challenge 1 
# Let's now verify 0.7
#
type (0.7)

float

In [ ]:
# Challenge 2
# Verifying the type of 0.53
# 
type (0.53)

float

## 1.5 Boolean

Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False:

In [ ]:
# Example 1
# Let's run this cell and see what happens
#
True

True

In [ ]:
# Example 2
# Let's also run this cell and see what happens
#
False

False

### <font color="green">1.5 Challenges</font>

In [ ]:
# Challenge 1 
# What happens when we run 'true' in this cell
#
'true'

'true'

In [ ]:
# Challenge 2
# What about what happens when we run 'false' in this cell
#
'false'

'false'

In [ ]:
# Challenge 3
# Let's also find out type of False in this cell
#
type (False)

bool

## 1.6 Conversion of Types

We can change the type of the object in Python; this is called typecasting. For example, we can convert an integer into a float (e.g. 2 to 2.0).

In [ ]:
# Example 1 
# Let's first verify that this is an integer by running this cell. 
#
type(2)

int

### 1.6a. Converting integers to floats

In [ ]:
# Example 1
# Let's now convert integer 2 to a float and check its type
#
type(float(2))

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):

In [ ]:
# Example 2
# Casting 1.1 to integer will result in loss of information
#
int(1.1)

1

### 1.6b. Converting from strings to integers or floats

Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using int():

In [ ]:
# Example 1
# Let's convert a string into an integer
#
int('1')

1

In [ ]:
# Example 2
# But if we try to do so with a string that is not a perfect match for a number, we will get an error. 
# 
int('1 or 2 people')

ValueError: ignored

In [ ]:
# Example 3
# We can also convert strings containing floating point numbers into float objects:
#
float('1.2')

1.2

### 1.6c. Converting numbers to strings

If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?

In [ ]:
# Example 1
# Let's Convert an integer to a string
#
str(1)

'1'

#### <font color="green">1.6c Challenges</font>

In [ ]:
# Challenge 1
# And there is no reason why we shouldn't be able to make floats into strings as well:
# Converting a float 1.2 to a string
#
str (float(1.2))

'1.2'

In [ ]:
# Challenge 2
# How do you convert a digit 6/4 into a string?
# 
type (6/4)

str (6/4)

'1.5'

### 1.6d. Boolean Casting
We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float we will get a one. If we cast a boolean with a value of False to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0 to a Boolean we will get a False. Let's give it a try:

In [ ]:
# Example 1 
# Let's cast 1 to a Boolean 
bool(1)

True

#### <font color="green">1.6d Challenges</font>

In [ ]:
# Challenge 1
# Let's convert the value of True to an integer
# 
bool(True)

int (True)

1

In [ ]:
# Challenge 2
# What happens when we cast a 0 to a Boolean?
# 
bool (0)

False

In [ ]:
# Challenge 3 
# Let's cast a boolean with a value of True to an integer
# 
int (bool (True))

1