<a href="https://colab.research.google.com/github/IanTirok/DataScience-Prep-Moringa-School/blob/main/Week_1_Independent_Project_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

POUND TO KG PROGRAM

In [10]:
#Declaring varibles
#Getting input from the user

pound_1 = float (input('What is the first figure you want to convert from Pounds to KGs?     '))
pound_2 = float (input('what is the second figure you want to convert from pounds to KGs?      '))

conversion_factor =  float (0.45359237)

#Converting Pounds to KG
kg1 = float (pound_1 * conversion_factor)
kg2 = float (pound_2 * conversion_factor)
#Print output
print ("your first input converted to kgs  is:   " ,kg1 ) 
print ("your second input converted to kgs  is:   " ,kg2 )

What is the first figure you want to convert from Pounds to KGs?     220
what is the second figure you want to convert from pounds to KGs?      330
your first input converted to kgs  is:    99.79032140000001
your second input converted to kgs  is:    149.6854821

PERFORM THE SUM OF VALUES

In [15]:
#Declaring variables

x = int (32473478438)
y = int (47293891109)

#Calculations

z = int (x + y)

#Print Output

print(z)

79767369547

PERFORM THE AVERAGE OF VALUES

In [21]:
#Getting user input
#Declare variables

value_1 = int (input('Input the first value that you want to get an average of      '))
value_2 = int (input('Input the second value that you want to get an average of      '))

#Calculations

ave_value = float((value_1+value_2)/2)

#Print output

print("The average of the two values is   ", ave_value)

Input the first value that you want to get an average of      40
Input the second value that you want to get an average of      30
The average of the two values is    35.0

FIND THE DIFFERENCE BETWEEN THE TWO VALUES

In [23]:
#Calculations

Difference = float(value_1 - value_2)

#Print Output

print (Difference)

10.0

FIND THE QUOTIENT VALUE

In [24]:
#When One value is divided by the other
#Calculations

Quotient = float (x/y)

#Print Output

print (Quotient)

0.6866315643844394

DETERMINE AND PRINT EVEN OR ODD NUMBERS

In [28]:
#Getting User Input

value_3 = int (input('Input the value you want to test whether even or odd      '))

#Calculations and printing output

if (value_3 % 2) == 0:
  print ("{0} is Even number". format(value_3))
else:
  print ("{0} is Odd number". format(value_3))

Input the value you want to test whether even or odd      40
40 is Even number